<nav>
    <div class="main-page">
        <a href="/">
            <h1>My Blog</h1>
        </a>
	</div>
	<div class="line-break"></div>
    <div class="links">
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </div>
</nav>
