<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>My blog</title>
</head>

<body>
	<nav>
		<div class="mainPage">
			<a href="/">
				<h1>Home page</h1>
			</a>
		</div>
		<ul>
			<li><a href="/">Home page</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New blog</a></li>
		</ul>
	</nav>

	<div class="about content">
		<h2>About Us</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lectus sem, a venenatis felis auctor a.
			Quisque ac mauris velit. Quisque ut risus eu ipsum eleifend dapibus ut vitae lacus.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lectus sem, a venenatis felis auctor a.
			Quisque ac mauris velit. Quisque ut risus eu ipsum eleifend dapibus ut vitae lacus.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lectus sem, a venenatis felis auctor a.
			Quisque ac mauris velit. Quisque ut risus eu ipsum eleifend dapibus ut vitae lacus.</p>
	</div>
</body>

</html>