<!DOCTYPE html>

<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="create-blog content">
            <form action="/blogs" method="POST">
                <label for="title">Blog title:</label>
                <input name="title" type="text" autocomplete="off" required />
                <label for="snippet">Blog snippet:</label>
                <input name="snippet" type="text" autocomplete="off" required />
                <label for="body">Blog body:</label>
                <textarea
                    name="body"
                    type="text"
                    autocomplete="off"
                    required
                ></textarea>
                <div class="button-holder">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
