<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>My blog</title>
</head>

<body>
	<nav>
		<div class="mainPage">
			<a href="/">
				<h1>Home page</h1>
			</a>
		</div>
		<ul>
			<li><a href="/">Home page</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New blog</a></li>
		</ul>
	</nav>

	<div class="createBlog content">
		<form action="">
			<label for="title">Blog title:</label>
			<input type="text" id="title" required>
			<label for="snippet">Blog snippet:</label>
			<input type="text" id="snippet" required>
			<label for="body">Blog body:</label>
			<textarea type="text" id="body" required></textarea>
			<button type="submit">Submit</button>
		</form>
	</div>
</body>

</html>