@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
	font-family: "Open Sans", serif;
	margin: 20px auto;
	padding: 0 20px;
}

p, h1, h2, h3, a, ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #222;
}

/* element sizing and inheritance */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* nav & footer styles */

nav {
	display: flex;
	margin-bottom: 30px;
	padding-bottom: 10px;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

nav .line-break {
	width: 100%;
	border-top: 1px solid #ddd;
	margin: 0 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

nav li {
	list-style-type: none;
	margin-left: 20px;
	font-size: 1em;
	font-style: oblique;
}

nav li:first-child {
	margin-left: 0px;
}

nav li:hover {
	text-decoration: underline;
}

nav h1 {
	font-size: 3em;
}

nav .mainPage {
	align-items: center;
	justify-content: center;
}

nav p, nav a {
	color: #777;
	font-weight: 300;
}

footer {
	color: #777;
	text-align: center;
	margin: 80px auto 20px;
}

nav h2 {
	margin-bottom: 40px;
}

nav h3 {
	text-transform: capitalize;
	margin-bottom: 8px;
}

/* index styles */

.blogs a {
	display: block;
	border-left: 6px solid crimson;
	margin: 20px 40px;
	padding-left: 30px
}

.blogs a:hover h3 {
	color: crimson;
}

.blogs h2 {
	font-size: 2em;
}

.blogs h3 {
	font-size: 1.5em;
}

.blogs p {
	font-size: 1.5em;
}

/* details styles */

.details {
	text-align: center;
	overflow: auto;
}

.details h1 {
	font-size: 2em;
}

.details h2 {
	font-size: 1.5em;
}

.details h3 {
	font-size: 1.3em;
}

.details p {
	font-size: 1.2em;
}

.details textarea {
	width: 400px;
	min-height: 120px;
	max-height: 250px;
	resize: vertical;
}

.details input, .details textarea {
	margin: 10px 0;
	padding: 8px;
}

.details h1, .details h2, .details h3, .details input {
	margin-bottom: 40px;
}

.details .actions {
	display: flex;
	justify-content: center;
}

.details button {
	font-family: inherit;
	font-size: inherit;
}

.actions div, .details button {
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	width: 80px;
	background-color: black;
	color: white;
}

.actions div:hover, .details button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

/* create styles */

.create-blog form {
	max-width: 400px;
	margin: 0 auto;
}

.create-blog input, .create-blog textarea {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 8px;
}

.create-blog label {
	display: block;
	margin-top: 24px;
}

.create-blog textarea {
	min-height: 120px;
	max-height: 250px;
	resize: vertical;
}

.create-blog button {
	margin-top: 10px;
	background: crimson;
	color: white;
	padding: 6px;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
}

.create-blog .button-holder {
	text-align: center;
	padding: 0;
	margin: 0;
}